@model IEnumerable<SGA.Models.Encuesta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valoracion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valoracion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EncuestaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EncuestaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EncuestaId })
        </td>
    </tr>
}

</table>
